version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: proximity
      POSTGRES_USER: proximity
      POSTGRES_PASSWORD: proximity
    ports:
      - "5432:5432"
    volumes:
      - proximity_pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  proximity_pgdata:
