spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/proximity
    username: proximity
    password: proximity
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

server:
  port: 8080
